logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
typings/
logs/
.DS_Store
*.swp
*.lock
!.autod.conf.js

.github/

# app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
